{{!-- <div class="container">
    <div class="row">
        <!-- Start burger title section -->
        <div class="col-12 burger burger-header">
            <h1><strong>Eat-Da-Burger!</strong></h1>
            <p>Make a burger, then devour it!</p>
            <h4>Add a burger</h4>
    </div>
</div>
</div>
    <div class="container">
    <div class="row">
            <form class="create-form">

                <div class="form-group">
                    <input type="text" id="newburg" name="name">
                </div>

                <button type="submit" class="btn btn-danger">Add Da Burger</button> 
            </form>
        </div>
    </div>

<div class="container">
      <div class="row">
        <div class="col-12 about">
          <!-- burger image -->
          <img id="photo" src="public/assets/images/cute-brger.png" class="mr-3" alt="cute burger image">
        </div>
      </div>
    </div> --}}

<div class="container">

    <div class="jumbotron text-center" style="background-color:#FBF8C1">
        <h1>Eat-Da-Burger!</h1>
        <p>Make a burger, then devour it!</p>
        
        <img src="/assets/images/cute-brger.png" class="mr-3" alt="cute burger image" width="200" height="200">
        <h2>Add a burger (yum!)</h2>
        <form class="create-form">

        <div class="form-group">
            <input type="text" id="newburg" name="name">
        </div>

        <button type="submit" class="btn btn-danger">Add Da Burger</button>
        </form>
    </div> 
</div>
        <!-- Undevoured Burgers -->
        {{!-- <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="lefthead"><strong>New Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#unless devoured}}
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="eatburger btn btn-warning" id ="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="fa fa-cutlery"></span></button>
                                <hr>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Devoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="righthead"><strong>Devoured Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#if devoured}}
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="trashburger btn btn-danger" id ="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
                                <hr>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
     --}}
{{!-- </div> container  --}}
