<li>
	{{burger_name}}

	<button class="create-form" data-id="{{id}}">
	</button>

	<button class="devourBurgerBtn" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if devour}}DEVOUR!{{else}}EAT!{{/if}}
	</button>
	<button class="deleteburger" data-id="{{this.id}}">DELETE!</button>

	
</li>
